apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-submit
  namespace: log-analytics
  labels:
    app: spark-submit
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-submit
  template:
    metadata:
      labels:
        app: spark-submit
    spec:
      containers:
      - name: spark-submit
        image: spark-streaming:latest
        imagePullPolicy: Always
        command:
        - /opt/spark/bin/spark-submit
        - --master
        - spark://spark-master:7077
        - --deploy-mode
        - client
        - --conf
        - spark.jars.ivy=/tmp/.ivy2
        - --conf
        - spark.driver.host=$(POD_IP)
        - --conf
        - spark.driver.bindAddress=$(POD_IP)
        - --conf
        - spark.driver.memory=4g
        - --packages
        - org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0
        - /opt/spark-apps/streaming/spark_streaming.py
        resources:
          requests:
            cpu: "1000m"
            memory: "4Gi"
          limits:
            cpu: "2000m"
            memory: "6Gi"
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "log-analytics-kafka-kafka-bootstrap:9092"
        - name: KAFKA_TOPIC
          value: "application-logs"
        - name: PUSHGATEWAY_URL
          value: "http://pushgateway:9091"
        - name: CHECKPOINT_LOCATION
          value: "/tmp/spark-checkpoints/log-analytics-final-v4"
        - name: HOME
          value: "/tmp"
      restartPolicy: Always
