global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'pushgateway'
    honor_labels: true
    static_configs:
      - targets: ['pushgateway:9091']

  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka:9999']

  # Log producer metrics via GCE service discovery (MIG)
  # Log Web Metrics (Local on Core VM)
  - job_name: 'log-web'
    static_configs:
      - targets: ['log-web:8088']